<!-- Start Header Top Area -->
<div class="header-top-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="logo-area">
          <!--<a href="#"><img src="assets/img/logo/logo.png" alt="" /></a>-->
          <a [ngStyle]="{'color': 'white'}" routerLink="/dashboard">HOME AUTOMATION APP</a>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="row">
            <div class="header-top-menu col-md-8">
              <!-- <ul class="nav navbar-nav notika-top-nav">
                <li class="nav-item dropdown">
                  <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="notika-icon notika-search"></i></span></a>
                  <div role="menu" class="dropdown-menu search-dd animated flipInX">
                    <div class="search-input">
                      <i class="notika-icon notika-left-arrow text-right"></i>
                      <input type="text" />
                    </div>
                  </div>
                </li>
              </ul> -->
            </div>

          <div class="col-md-4">
            <ul class="top-menu-details list-inline text-right">
              <li class="list-inline-item">
                  {{currentUser.name}} |
              </li>
              <li class="list-inline-item">
                  <a routerLink="authenticate" (click)="logout()" class="logout-top">logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Header Top Area -->
