<div class="bg-light" id="rooms">
  <div class="container">
    <!-- <div class="row-fluid"> -->
    <div class="row-fluid">
      <div class="col-lg-12">
        <br>
        <!-- <h2 class="section-heading text-uppercase">Home Automation</h2> -->
        <!-- <h4 class="section-subheading text-muted">Rooms</h4>
      </div>
      <div class="col-lg-12">
        <br> -->
        <h4 class="section-subheading text-muted">Rooms</h4>
        <hr>
        <br>
      </div>
  </div>
</div> 
<div class="animation-area">
  <div class="container">
    <div class="row">
      <app-room *ngFor="let room of rooms" [room]="room" class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></app-room>
      <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">-->
        <!--<div class="animation-single-int">-->
          <!--<div class="animation-ctn-hd">-->
            <!--<h2>{{room.name}}</h2>-->
            <!--<p>{{room.description}}</p>-->
          <!--</div>-->
          <!--<div class="animation-img mg-b-15">-->
            <!--<img class="animate-one" src="assets/img/rooms/{{room.image}}" alt="" />-->
          <!--</div>-->
          <!--<div class="animation-action">-->
            <!--<div class="row">-->
              <!--<div class="col-lg-6">-->
                <!--<div class="animation-btn">-->
                  <!--<button class="btn ant-nk-st bounce-ac">Action 1</button>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-lg-6">-->
                <!--<div class="animation-btn sm-res-mg-t-10 tb-res-mg-t-10 dk-res-mg-t-10">-->
                  <!--<button class="btn ant-nk-st flash-ac">Action 2</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">-->
        <!--<div class="animation-single-int">-->
          <!--<div class="animation-ctn-hd">-->
            <!--<h2>{{room.name}}</h2>-->
            <!--<p>{{room.description}}</p>-->
          <!--</div>-->
          <!--<div class="animation-img mg-b-15">-->
            <!--<img class="animate-one" src="assets/img/rooms/{{room.image}}" alt="" />-->
          <!--</div>-->
          <!--<div class="animation-action">-->
            <!--<div class="row">-->
              <!--<div class="col-lg-6">-->
                <!--<div class="animation-btn">-->
                  <!--<button class="btn ant-nk-st bounce-ac">Action 1</button>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-lg-6">-->
                <!--<div class="animation-btn sm-res-mg-t-10 tb-res-mg-t-10 dk-res-mg-t-10">-->
                  <!--<button class="btn ant-nk-st flash-ac">Action 2</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">-->
        <!--<div class="animation-single-int">-->
          <!--<div class="animation-ctn-hd">-->
            <!--<h2>{{room.name}}</h2>-->
            <!--<p>{{room.description}}</p>-->
          <!--</div>-->
          <!--<div class="animation-img mg-b-15">-->
            <!--<img class="animate-one" src="assets/img/rooms/{{room.image}}" alt="" />-->
          <!--</div>-->
          <!--<div class="animation-action">-->
            <!--<div class="row">-->
              <!--<div class="col-lg-6">-->
                <!--<div class="animation-btn">-->
                  <!--<button class="btn ant-nk-st bounce-ac">Action 1</button>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-lg-6">-->
                <!--<div class="animation-btn sm-res-mg-t-10 tb-res-mg-t-10 dk-res-mg-t-10">-->
                  <!--<button class="btn ant-nk-st flash-ac">Action 2</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>
