<div class="bg-light" id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <br>
        <h2 class="section-heading text-uppercase">Home Automation</h2>
        <h4 class="section-subheading text-muted">My Rooms:</h4>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 home-item">
        <a class="home-link" data-toggle="modal" href="/home/kitchen">
          <div class="home-hover">
            <div class="home-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div> 
          </div> 
          <img class="img-fluid" src="assets/img/rooms/01-thumbnail2.jpg" alt="">
        </a>
        <div class="home-caption">
          <h4>Kitchen</h4>
          <p class="text-muted">Devices in the Kitchen</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 home-item">
        <a class="home-link" data-toggle="modal" href="/home/livingroom">
          <div class="home-hover">
            <div class="home-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/rooms/02-thumbnail.jpg" alt="">
        </a>
        <div class="home-caption">
          <h4>Living Room</h4>
          <p class="text-muted">Devices in the Living Room</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 home-item">
        <a class="home-link" data-toggle="modal" href="/home/bedroom">
          <div class="home-hover">
            <div class="home-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/rooms/03-thumbnail.jpg" alt="">
        </a>
        <div class="home-caption">
          <h4>Bedroom</h4>
          <p class="text-muted">Devices in the Bedroom</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 home-item">
        <a class="home-link" data-toggle="modal" href="/home/bathroom">
          <div class="home-hover">
            <div class="home-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/rooms/04-thumbnail.jpg" alt="">
        </a>
        <div class="home-caption">
          <h4>Bathroom</h4>
          <p class="text-muted">Devices in the Bathroom</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 home-item">
        <a class="home-link" data-toggle="modal" href="/home/garage">
          <div class="home-hover">
            <div class="home-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/rooms/05-thumbnail2.jpg" alt="">
        </a>
        <div class="home-caption">
          <h4>Garage</h4>
          <p class="text-muted">Devices in the Garage</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 home-item">
        <a class="home-link" data-toggle="modal" href="/home/yard">
          <div class="home-hover">
            <div class="home-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/rooms/06-thumbnail.jpg" alt="">
        </a>
        <div class="home-caption">
          <h4>Yard</h4>
          <p class="text-muted">Devices in the Yard</p>
        </div>
      </div>
    </div>
  </div>
</div> 