

  <div class="container" class="text-center">
    <p-inputSwitch (onChange)="handleChange($event)" [(ngModel)]="checked"></p-inputSwitch>
    <img id="myImage" src="assets/img/devices/9.jpg" style="width:300px" class="rounded-circle">
  </div>
  <div class="bathroom-caption" class="text-center">
    <div class="row" class="text-center">
      <h5>Type: {{device.type}}</h5>
      <h5>Information:</h5>
      <p>{{device.name}}</p>
      <p>{{device.information}}</p>
      <p class="text-muted">Status: {{device.status ? 'ON' : 'OFF' }}</p>
    </div>
  </div>
  <br>
