.container {
  min-height:101%; 
  position: relative;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
} 
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content{
  position: relative;
  height: 100%;
  background-color: rgb(27, 71, 38);
}
.btn-link{
  color:white;
}
.modal-heading h2{
  color:#ffffff;
}
