<div class="container">
 <div class="row">
    <div class="col-lg-12 text-center">
          <br>
          <h2 class="section-heading text-uppercase">Home Automation</h2>
          <h4 class="section-subheading text-muted">Welcome!</h4>
    </div>
 </div>
 <hr>
<div class="row">
  <div class="col-md-6 home-item">
    <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-heading">
                <br>
				<h2 class="text-center">Login</h2>
			</div>
			<div class="modal-body">
				<form action="" role="form">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-user"></span>
							</span>
							<input type="text" class="form-control" placeholder="User Name" />
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-lock"></span>
							</span>
							<input type="password" class="form-control" placeholder="Password" />
						</div>
					</div>
					<div class="form-group text-center">
						<button [ngStyle]="{'color': 'white', 'background-color': 'black'}" type="submit" class="btn btn-success btn-lg">Login</button>
						<a href="#" class="btn btn-link">forgot password?</a>
					</div>
				</form>
			</div>
	      </div>
      </div>
   </div>
   <div class="col-md-6 home-item">
    <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-heading">
                <br>
				<h2 class="text-center">Register</h2>
			</div>
			<div class="modal-body">
				<form action="" role="form">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-user"></span>
							</span>
							<input type="text" class="form-control" placeholder="User Name" />
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-user"></span>
							</span>
							<input type="text" class="form-control" placeholder="Full Name" />
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-user"></span>
							</span>
							<input type="text" class="form-control" placeholder="email" />
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-lock"></span>
							</span>
							<input type="password" class="form-control" placeholder="Password" />
						</div>
					</div>
					<div class="form-group text-center">
						<button [ngStyle]="{'color': 'white', 'background-color': 'black'}" type="submit" class="btn btn-success btn-lg">Register</button>
						<!-- <a href="#" class="btn btn-link">forgot password?</a> -->
					</div>
				</form>
			</div>
		</div>
   </div>
</div>
</div>
</div>
