<!-- Mobile Menu start -->
<!-- <div class="mobile-menu-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="mobile-menu">
          <nav id="dropdown">
            <ul class="mobile-menu-nav">
              <li><a data-toggle="collapse" data-target="#Charts" href="#">Home</a>
                <ul class="collapse dropdown-header-top">
                  <li><a href="index.html">Dashboard One</a></li>

                </ul>
              </li>
              <li><a data-toggle="collapse" data-target="#demoevent" href="#">Email</a>
                <ul id="demoevent" class="collapse dropdown-header-top">
                  <li><a href="inbox.html">Inbox</a></li>
                </ul>
              </li>
              <li><a data-toggle="collapse" data-target="#democrou" href="#">Interface</a>
                <ul id="democrou" class="collapse dropdown-header-top">
                  <li><a href="animations.html">Animations</a></li>
                </ul>
              </li>
              <li><a data-toggle="collapse" data-target="#demolibra" href="#">Charts</a>
                <ul id="demolibra" class="collapse dropdown-header-top">
                  <li><a href="flot-charts.html">Flot Charts</a></li>
                </ul>
              </li>
              <li><a data-toggle="collapse" data-target="#demodepart" href="#">Tables</a>
                <ul id="demodepart" class="collapse dropdown-header-top">
                  <li><a href="normal-table.html">Normal Table</a></li>
                </ul>
              </li>
              <li><a data-toggle="collapse" data-target="#demo" href="#">Forms</a>
                <ul id="demo" class="collapse dropdown-header-top">
                  <li><a href="form-elements.html">Form Elements</a></li>
                </ul>
              </li>
              <li><a data-toggle="collapse" data-target="#Miscellaneousmob" href="#">App views</a>
                <ul id="Miscellaneousmob" class="collapse dropdown-header-top">
                  <li><a href="notification.html">Notifications</a>
                  </li>
                  <li><a href="alert.html">Alerts</a>
                  </li>
                  <li><a href="modals.html">Modals</a>
                  </li>
                </ul>
              </li>
              <li><a data-toggle="collapse" data-target="#Pagemob" href="#">Pages</a>
                <ul id="Pagemob" class="collapse dropdown-header-top">
                  <li><a href="contact.html">Contact</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>  -->
<!-- Mobile Menu end -->
<!-- Main Menu area start-->
<br>
<div class="main-menu-area mg-tb-25">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
          <li><a data-toggle="tab" href="#Home" aria-expanded="true"><i class="notika-icon notika-house"></i>Dashboard</a>
          </li>
          <li *ngIf="user.isAdmin"><a data-toggle="tab"  href="#administrator"aria-expanded="false"><i class="notika-icon notika-edit"></i>Administrator</a>
          </li>
        </ul>
        <div class="tab-content custom-menu-content">
          <div id="Home" class="tab-pane in notika-tab-menu-bg animated active flipInX">
            <ul class="notika-main-menu-dropdown">

              <li><a routerLink="/rooms">Room List</a>
              </li>
              <li><a routerLink="/devices">Device List</a>
              </li>

            </ul>
          </div>
          <div *ngIf="user.isAdmin" id="administrator" class="tab-pane notika-tab-menu-bg animated flipInX">
            <ul class="notika-main-menu-dropdown">
              <li><a routerLink="/admin/users">Manage Users</a>
              </li>
              <li><a routerLink="/admin/rooms">Manage Rooms</a>
              </li>
              <li><a routerLink="/admin/devices">Manage Devices</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Menu area End-->
