.container { 
  width: 100%;
}

.row {
  width: 100%;
}

#rooms .rooms-item {
  right: 0;
  margin: 0 0 15px;
}

#rooms .rooms-item .rooms-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#rooms .rooms-item .rooms-link .rooms-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background:#333;
}

#rooms .rooms-item .rooms-link .rooms-hover:hover {
  opacity: 1;
}

#rooms .rooms-item .rooms-link .rooms-hover .rooms-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#rooms .rooms-item .rooms-link .rooms-hover .rooms-hover-content i {
  margin-top: -12px;
}

#rooms .rooms-item .rooms-link .rooms-hover .rooms-hover-content h3,
#rooms .rooms-item .rooms-link .rooms-hover .rooms-hover-content h4 {
  margin: 0;
}

#rooms .rooms-item .rooms-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: rgb(231, 231, 231);
  /* background-color: #fff; */
}

#rooms .rooms-item .rooms-caption h4 {
  margin: 0;
  text-transform: none;
}

#rooms .rooms-item .rooms-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#rooms * {
  z-index: 2;
}

@media (min-width: 767px) {
  #rooms .rooms-item {
    margin: 0 0 30px;
  }
}