<div class="bg-light" id="home">
  <div class="container2">
    <div class="row">
      <div class="col-lg-12 text-center">
        <br>
        <h2 class="section-heading text-uppercase">DEVICES</h2>
        <!-- <h3 class="section-subheading text-muted">Rooms and Devices.</h3> -->
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 home-item">
        <a class="home-link" data-toggle="modal" href="user/kitchen">
          <div class="home-hover">
            <div class="home-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div> 
          </div> 
          <!-- <img class="img-fluid" src="assets/img/devices/1.jpg" alt=""> -->
        </a>
         <div class="container">
              <img class="img-fluid" src="assets/img/devices/1.jpg" alt="">
              <div class="onoffswitch2">
                 <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                 <label class="onoffswitch-label" for="myonoffswitch">
                   <span class="onoffswitch-inner"></span>
                   <span class="onoffswitch-switch"></span>
                 </label>
              </div>
         </div>
         <div class="device-caption">
           <!-- <h5>Oven</h5> -->
         </div>
      </div>
      <div class="col-md-4 col-sm-6 home-item">
        <a class="home-link" data-toggle="modal" href="/user/kitchen">
          <div class="home-hover">
            <div class="home-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <!-- <img class="img-fluid" src="assets/img/devices/2.jpg" alt=""> -->
        </a>

        <div class="container">
          <img class="img-fluid" src="assets/img/devices/2.jpg" alt="">
          <!-- <div class="onoffswitch">
             <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
             <label class="onoffswitch-label" for="myonoffswitch">
               <span class="onoffswitch-inner"></span>
               <span class="onoffswitch-switch"></span>
             </label>
          </div> -->
        </div>
        <div class="home-caption">
          <!-- <h5>Microwave</h5> -->
        </div>
      </div>
      <div class="col-md-4 col-sm-6 home-item">
        <a class="home-link" data-toggle="modal" href="/user/kitchen">
          <div class="home-hover">
            <div class="home-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <!-- <img class="img-fluid" src="assets/img/devices/3.jpg" alt=""> -->
        </a>

        <div class="container">
          <img class="img-fluid" src="assets/img/devices/3.jpg" alt="">
          <div class="onoffswitch">
             <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
             <label class="onoffswitch-label" for="myonoffswitch">
               <span class="onoffswitch-inner"></span>
               <span class="onoffswitch-switch"></span>
             </label>
          </div>
     </div>
     <div class="home-caption">
          <!-- <h5>Fridge</h5> -->
        </div>
      </div>
    </div>
  </div>
</div> 